body{
    display: flex;
    flex-flow: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
.main{
    display: flex;
    flex-flow: column;
    gap: 12px;
}
.s-main,.sd-main{
    display: flex;
    gap:12px
}
.right,.left,.rig2,.lef2{
    height: 200px;
    width:200px;
    border-radius: 3.7rem;
    border:5px solid black
}
.right{
    background-color: rgba(229, 10, 10, 0.693);;
}
.left{
    background-color: rgba(50, 210, 50, 0.769);
}
.rig2{
    background-color: rgba(216, 216, 50, 0.761);
}
.lef2{
    background-color: rgba(219, 46, 219, 0.861);
}
.wig{
    background-color: white;
}
